<div id="left" style="width: 250px;">
	<% @projects.each do |project| %>
		<%= link_to project.name, :controller => 'main', :action => 'project', :id => project.id %><br />
	<% end %>
</div>

<div id="right" style="height: 100%; width: 914px;">
	<div id="left"style="width: 655px;">
		Project: <%= @project.name unless @project.blank? %><br />
		<% @project.tasks.each do |task| %>
			<%= task.name %><br />
		<% end %>
	</div>
	<div id="right" style="width: 230px;">
		<% @todos.each do |todo| %>
		<%= todo.name %><br/>
		<% end %>
	</div>
	<div id="clear" style="height: 5px;"></div>
	<div style="height: 80px;">
		Pomodoro!
	</div>
</div>
<div id="clear"></div>
