<div id="left" style="width: 250px;">
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!<br />
	Projects!
</div>
<div id="right" style="height: 100%; width: 914px;">
	<div id="left"style="width: 655px;">
		Tasks!<br/>
		Tasks!<br/>
		Tasks!<br/>
		Tasks!<br/>
		Tasks!<br/>
		Tasks!<br/>
		Tasks!<br/>
		Tasks!<br/>
		Tasks!<br/>
		Tasks!
	</div>
	<div id="right" style="width: 230px;">
		TODO<br/>
		TODO<br/>
		TODO<br/>
		TODO<br/>
		TODO
	</div>
	<div id="clear" style="height: 5px;"></div>
	<div style="height: 80px;">
		Pomodoro!
	</div>
</div>
<div id="clear"></div>
