<div id="confirm">
	<% if alert.present? %>
		<div id="alert">
			<%= content_tag :p, alert, :class => 'alert' if alert.present? %>
		</div>
	<% else %>
		<p id="notice"><%= notice %></p>
	<% end %>
</div>
