<p id="notice"><%= notice %></p>

A confirmation email has been sent to the email address supplied in the registration process (<%= @user.email %>). Please follow the instructions contained within the email in order to activate your account.
